.dock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(700px, 50%);
  margin: 0 auto;
  // padding: 10px;
  gap: 10px;
  @media (max-width: 500px) {
    gap: 5px;
  }
}
