@import "@/styles/global.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  touch-action: none;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
}
body {
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: #888 #f1f1f1; /* scroll thumb and track */
  :-webkit-scrollbar {
    width: 12px; /* For vertical scrollbars */
    height: 12px; /* For horizontal scrollbars */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
