@import "@/styles/variables.scss";

.container {
  position: relative;
  font-family: $font-inter;
  .chatButton {
    display: grid;
    place-items: center;
    border: none;
    background-color: #262626;
    filter: saturate(0.9) brightness(0.9);
    transition: filter 200ms;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
      filter: saturate(1) brightness(1.2);
    }
    z-index: 0;
    width: 60px;
    height: 60px;
    & img {
      width: 80%;
      height: 80%;
    }
    @media (max-width: 500px) {
      width: 42px;
      height: 42px;
    }
  }

  .messageContainer {
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 330px;
    background-color: rgb(255, 255, 255);
    height: 500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .chatHeader {
      position: absolute;
      background-color: $secondary-accent-color;
      width: 100%;
      height: 48px;
      border-radius: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .avatar {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        img {
          border-radius: 50%;
        }
        // background-color: rgb(254, 255, 255);
        display: grid;
        place-items: center;
        color: #262626;
      }
      p {
        margin-left: 8px;
        flex: 1 0 auto;
        font-weight: 600;
        color: #514f4f;
      }
      .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 2px;
        gap: 8px;

        .dot {
          // padding: 2px;
          // margin: 2px;s
          display: flex;
          width: 8px;
          height: 8px;
          border-radius: 10px;
          // background-color: #262626c9;
          background-image: linear-gradient(to top right, #262626, #d5bebe);
        }
      }
    }
  }
}
