@import "@/styles/variables.scss";

.userTextarea {
  position: absolute;
  // min-height: 70px;
  padding: 0 0 0 12px;
  bottom: 0;
  width: 100%;
  background-color: rgb(236, 235, 231);
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: baseline;
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding-left: 10px;
    button {
      // width: 100%;
      padding: 10px;
      border: none;
      background-color: $secondary-accent-color;
      border-radius: 0 0 12px 0;
      margin: 0;
      transition: all 0.2s ease;
      &:hover {
        cursor: pointer;
        filter: brightness(1.05);
      }
    }
  }
  &__textarea {
    font-family: $font-inter;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    padding-top: 6px;
    line-height: 1.5;
    &:focus {
      outline: none;
    }
  }
}
